force-app/main/default/flows/OT_Find_Available_Properties_By_Development.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>addRecordAddProp</name>
        <label>addRecordAddProp</label>
        <locationX>2114</locationX>
        <locationY>1214</locationY>
        <assignmentItems>
            <assignToReference>varUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loopOTsAddProperty</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopOTsAddProperty</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>addRecordTBD</name>
        <label>addRecordTBD</label>
        <locationX>1810</locationX>
        <locationY>1214</locationY>
        <assignmentItems>
            <assignToReference>varUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loopOTsTBD</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopOTsTBD</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignProperty</name>
        <label>assignProperty</label>
        <locationX>2114</locationX>
        <locationY>1106</locationY>
        <assignmentItems>
            <assignToReference>loopOTsAddProperty.Property_Unit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Select_Property_UNIT</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>addRecordAddProp</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assignPropertyTBD</name>
        <label>assignPropertyTBD</label>
        <locationX>1810</locationX>
        <locationY>1106</locationY>
        <assignmentItems>
            <assignToReference>loopOTsTBD.Property_Unit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>addRecordTBD</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>NA</name>
        <choiceText>NOT APPLICABLE (BLANK)</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>TBD</stringValue>
        </value>
    </choices>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>NoMarkGroup</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>TBD</name>
        <choiceText>TO BE DETERMINED</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>TBD</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <choices>
        <name>YesMarkGroup</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Copy_1_of_selectTBD</name>
        <label>Copy 1 of selectTBD</label>
        <locationX>1040</locationX>
        <locationY>782</locationY>
        <defaultConnector>
            <targetReference>UpdateOTgroupYes</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_TBD</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TBD</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_UpdateOTtbd</targetReference>
            </connector>
            <label>Copy 1 of TBD</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_UNITGifPrimary</name>
        <label>Copy 1 of UNITGifPrimary</label>
        <locationX>2638</locationX>
        <locationY>1106</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_UnitG_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getOT.Tracker_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Primary</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>updatePropertyGroupNo</targetReference>
            </connector>
            <label>Copy 1 of UnitG Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>GroupYes</name>
        <label>GroupYes</label>
        <locationX>1598</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>sUnit</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesGroup</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getPropertyAppTracker.Group_Property__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>sUnitGroup</targetReference>
            </connector>
            <label>YesGroup</label>
        </rules>
    </decisions>
    <decisions>
        <name>ifALL</name>
        <label>ifALL</label>
        <locationX>2157</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>getUnitNoGroup</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Mark_All_Units</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Yes</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getAllOTs</targetReference>
            </connector>
            <label>Mark All Units</label>
        </rules>
    </decisions>
    <decisions>
        <name>ifYesMarkGroup</name>
        <label>ifYesMarkGroup</label>
        <locationX>248</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>selectTBDgroup</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>MarkGroupYes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>YesMarkGroup</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>updateMarkAsGroup</targetReference>
            </connector>
            <label>MarkGroupYes</label>
        </rules>
    </decisions>
    <decisions>
        <name>selectTBD</name>
        <label>selectTBD</label>
        <locationX>2440</locationX>
        <locationY>890</locationY>
        <defaultConnector>
            <targetReference>UpdateOT</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>TBDyes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TBD</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateOTtbd</targetReference>
            </connector>
            <label>TBD</label>
        </rules>
    </decisions>
    <decisions>
        <name>selectTBDgroup</name>
        <label>selectTBDgroup</label>
        <locationX>446</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>UpdateProp</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>TBDg</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NA</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateOTtbdgroup</targetReference>
            </connector>
            <label>TBD</label>
        </rules>
    </decisions>
    <decisions>
        <name>selectTBDunitAll</name>
        <label>selectTBDunitAll</label>
        <locationX>1874</locationX>
        <locationY>890</locationY>
        <defaultConnector>
            <targetReference>loopOTsAddProperty</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_2_of_TBD</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TBD</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>loopOTsTBD</targetReference>
            </connector>
            <label>TBD</label>
        </rules>
    </decisions>
    <decisions>
        <name>UNITGifPrimary</name>
        <label>UNITGifPrimary</label>
        <locationX>1238</locationX>
        <locationY>998</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>UnitG_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getOT.Tracker_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Primary</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>updatePropertyGroupYes</targetReference>
            </connector>
            <label>UnitG Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>WhichType</name>
        <label>WhichType</label>
        <locationX>923</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>getPropertyAppTracker</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>From Applicant Tracker</defaultConnectorLabel>
        <rules>
            <name>Group</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>g</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getProperty</targetReference>
            </connector>
            <label>From Property Inventory</label>
        </rules>
    </decisions>
    <description>(AA)</description>
    <dynamicChoiceSets>
        <name>PropertyChoicesGROUP</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>1 AND 2 AND 3 AND 4 AND ((5 AND 6) OR (7 AND 8))</filterLogic>
        <filters>
            <field>Development_address__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varDevID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Group_Property__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>HOMEtracker__Number_of_Bedrooms__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getProperty.HOMEtracker__Number_of_Bedrooms__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Income_Level__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getProperty.Income_Level__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>HOMEtracker__Monthly_Rent__c</field>
            <operator>GreaterThan</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>HOMEtracker__Monthly_Rent__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getProperty.HOMEtracker__Monthly_Rent__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>HOMEtracker__List_Price__c</field>
            <operator>GreaterThan</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>HOMEtracker__List_Price__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getProperty.HOMEtracker__List_Price__c</elementReference>
            </value>
        </filters>
        <object>HOMEtracker__Property__c</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>PropertyChoicesUNIT</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varPropID</elementReference>
            </value>
        </filters>
        <object>HOMEtracker__Property__c</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>PropertyChoicesUNITg</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Group_Property_Parent__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varPropID</elementReference>
            </value>
        </filters>
        <object>HOMEtracker__Property__c</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>OT, Find Available Properties By Development {!$Flow.CurrentDateTime}</interviewLabel>
    <label>OT, Find Available Properties By Development</label>
    <loops>
        <name>loopOTsAddProperty</name>
        <label>loopOTsAddProperty</label>
        <locationX>2026</locationX>
        <locationY>998</locationY>
        <collectionReference>getAllOTs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assignProperty</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>updateRecords</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>loopOTsTBD</name>
        <label>loopOTsTBD</label>
        <locationX>1722</locationX>
        <locationY>998</locationY>
        <collectionReference>getAllOTs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assignPropertyTBD</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>updateRecords</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>getAllOTs</name>
        <label>getAllOTs</label>
        <locationX>1874</locationX>
        <locationY>782</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>selectTBDunitAll</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Property_ID_w_o_Group__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varPropID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Outreach_Tracking__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getOT</name>
        <label>getOT</label>
        <locationX>923</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>WhichType</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Outreach_Tracking__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getProperty</name>
        <label>getProperty</label>
        <locationX>248</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>sGroup</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varPropID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>HOMEtracker__Property__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getPropertyAppTracker</name>
        <label>getPropertyAppTracker</label>
        <locationX>1598</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GroupYes</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varPropID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>HOMEtracker__Property__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getUnitNoGroup</name>
        <label>getUnitNoGroup</label>
        <locationX>2440</locationX>
        <locationY>782</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>selectTBD</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Select_Property_UNIT</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>HOMEtracker__Property__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getUnitYesGroup</name>
        <label>getUnitYesGroup</label>
        <locationX>1040</locationX>
        <locationY>674</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_1_of_selectTBD</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Select_Property_UNITg</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>HOMEtracker__Property__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Copy_1_of_UpdateOTtbd</name>
        <label>Copy 1 of UpdateOTtbd</label>
        <locationX>842</locationX>
        <locationY>890</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Property_Unit__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <object>Outreach_Tracking__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>updateMarkAsGroup</name>
        <label>updateMarkAsGroup</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Group_Property__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>HOMEtracker__Property__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateOT</name>
        <label>UpdateOT</label>
        <locationX>2638</locationX>
        <locationY>998</locationY>
        <connector>
            <targetReference>Copy_1_of_UNITGifPrimary</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Property_Unit__c</field>
            <value>
                <elementReference>Select_Property_UNIT</elementReference>
            </value>
        </inputAssignments>
        <object>Outreach_Tracking__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateOTgroupYes</name>
        <label>UpdateOTgroupYes</label>
        <locationX>1238</locationX>
        <locationY>890</locationY>
        <connector>
            <targetReference>UNITGifPrimary</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Property_Unit__c</field>
            <value>
                <elementReference>Select_Property_UNITg</elementReference>
            </value>
        </inputAssignments>
        <object>Outreach_Tracking__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateOTtbd</name>
        <label>UpdateOTtbd</label>
        <locationX>2242</locationX>
        <locationY>998</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Property_Unit__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <object>Outreach_Tracking__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateOTtbdgroup</name>
        <label>UpdateOTtbdgroup</label>
        <locationX>314</locationX>
        <locationY>782</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Group_Property_Parent__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <object>HOMEtracker__Property__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateProp</name>
        <label>UpdateProp</label>
        <locationX>578</locationX>
        <locationY>782</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Group_Property_Parent__c</field>
            <value>
                <elementReference>Select_Property_GROUP</elementReference>
            </value>
        </inputAssignments>
        <object>HOMEtracker__Property__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>updatePropertyGroupNo</name>
        <label>updatePropertyGroupNo</label>
        <locationX>2506</locationX>
        <locationY>1214</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Select_Property_UNIT</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Current_Primary_Applicant__c</field>
            <value>
                <elementReference>varID</elementReference>
            </value>
        </inputAssignments>
        <object>HOMEtracker__Property__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>updatePropertyGroupYes</name>
        <label>updatePropertyGroupYes</label>
        <locationX>1106</locationX>
        <locationY>1106</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Select_Property_UNITg</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Current_Primary_Applicant__c</field>
            <value>
                <elementReference>varID</elementReference>
            </value>
        </inputAssignments>
        <object>HOMEtracker__Property__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>updateRecords</name>
        <label>updateRecords</label>
        <locationX>1874</locationX>
        <locationY>1490</locationY>
        <inputReference>varUpdate</inputReference>
    </recordUpdates>
    <screens>
        <name>sGroup</name>
        <label>sGroup</label>
        <locationX>248</locationX>
        <locationY>458</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>ifYesMarkGroup</targetReference>
        </connector>
        <fields>
            <name>dGroup</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;{!getProperty.Name} - {!getProperty.Bedroom_Count__c}BR {!getProperty.Income_Level__c} ${!getProperty.HOMEtracker__Monthly_Rent__c}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Select_Property_GROUP</name>
            <choiceReferences>NA</choiceReferences>
            <choiceReferences>PropertyChoicesGROUP</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>NA</defaultSelectedChoiceReference>
            <fieldText>Select Group Property:</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>d5</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 255, 255); font-size: 14px;&quot;&gt;.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Or would you like to mark this property as a group property?&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Mark_as_Group_Property</name>
            <choiceReferences>YesMarkGroup</choiceReferences>
            <choiceReferences>NoMarkGroup</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>NoMarkGroup</defaultSelectedChoiceReference>
            <fieldText>Mark as Group Property</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>sUnit</name>
        <label>sUnit</label>
        <locationX>2157</locationX>
        <locationY>566</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>ifALL</targetReference>
        </connector>
        <fields>
            <name>Select_Property_UNIT</name>
            <choiceReferences>TBD</choiceReferences>
            <choiceReferences>PropertyChoicesUNIT</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Property:</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>d3</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(255, 255, 255);&quot;&gt;-&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Mark_all_applicants_with_this_unit</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>No</defaultSelectedChoiceReference>
            <fieldText>Mark all applicants with this unit?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>sUnitGroup</name>
        <label>sUnitGroup</label>
        <locationX>1040</locationX>
        <locationY>566</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>getUnitYesGroup</targetReference>
        </connector>
        <fields>
            <name>Select_Property_UNITg</name>
            <choiceReferences>TBD</choiceReferences>
            <choiceReferences>PropertyChoicesUNITg</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Select Property:</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>797</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getOT</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>varDevID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varPropID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Outreach_Tracking__c</objectType>
    </variables>
</Flow>
